html, body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Takes the full height of the parent */
}

.hidden {
  display: none;
}

.play-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-center > .answer { 
  max-width: 240px;
}

.play-center > .question {
  letter-spacing: 2px;
}

.play-center button {
  margin: 2px;
}